
.Menu {
	position: absolute;
	top: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.Menu-item {
	font-size: 50px;
	padding: 20px 30px;
	color: white;
}

.Menu-item:hover {
	color: #ffcd3c;
	cursor: pointer;
}

.Menu-item-selected {
	font-size: 50px;
	padding: 20px 30px;
	color: #ff9234;
}