
body {
	background-image: url("/img/background.png");
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 !important;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
	background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: 18px;
    font-family: "Lucida Console", Courier, monospace;
    color: white;
}

.Logo {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.Disclaimer {
	position: absolute;
	right: 15px;
	bottom: 10px;
	font-size: 12px;
}

.Version {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
}

.PageContent {
	position: relative;
	margin: 150px auto;
	width: 100%;
	max-width: 900px;
	padding: 10px 20px;
}

h1 {
	border-bottom: 1px solid white;
	margin: 40px 0px;
}

h2 {

}

p {
	text-align: justify;
}

.padding {
	width: calc(100% - 50px);
	padding-top: 25px;
	padding-bottom: 35px;
	padding-left: 25px;
	
}